<!--Background Section-->

<div class="relative mt-14">
  <div>
    <img
      class="w-dvw h-dvh object-cover object-center"
      id="bgImg"
      src="/img/bg2.webp"
      alt="bg2"
    />
  </div>
  <div
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 flex lg:w-10/12 w-90% justify-between items-center"
  >
    <div class="text-white">
      <h3 class="md:text-2xl text-xl font-sans uppercase">new arrivals</h3>
      <h1 class="uppercase text-4xl md:text-6xl mt-1">denim jaackets</h1>
      <p
        class="w-full max-w-600 my-4 md:my-6 md:tracking-wider md:leading-loose font-sans"
      >
        Us which over of signs divide dominion deep fill bring they're meat beho
        upon own earth without morning over third. Their male dry. They are
        great appear whose land fly grass.
      </p>
      <div class="flex items-center gap-2 flex-wrap">
        <button
          class="border border-white md:px-10 px-5 py-3 uppercase font-semibold text-white bg-transparent rounded-full"
        >
          discover
        </button>
        <button
          class="border border-white md:px-10 px-5 py-3 uppercase font-semibold text-black bg-white rounded-full"
        >
          add to cart
        </button>
      </div>
    </div>
    <div
      class="w-40 h-40 md:w-32 md:h-32 lg:w-40 lg:h-40 bg-blue-600 text-white rounded-full items-center md:flex hidden justify-center p-2 relative md:-top-28 md:-left-10 lg:top-0 lg:left-0"
    >
      <div
        class="border border-white w-full h-full rounded-full flex items-center justify-center flex-col"
      >
        <span class="font-mono md:text-sm lg:text-lg font-semibold lg:mb-3"
          >from</span
        >
        <span
          class="lg:text-70px md:text-4xl font-serif font-bold leading-none lg:mb-5 mb-2"
          >$29</span
        >
        <span class="uppercase sm:text-sm lg:text-inherit font-light"
          >shop now</span
        >
      </div>
    </div>
  </div>
</div>
