<div class="grid md:grid-cols-3">
  <div class="bg-gray-300 py-5 flex justify-center items-center gap-5">
    <img
      src="/img/1.webp"
      alt="fast secure payments"
      class="md:w-fit md:h-fit w-6 h-6"
    />
    <h3
      class="text-gray-900 sm:text-xl lg:text-2xl text-center uppercase font-bold tracking-wider"
    >
      fast secure payments
    </h3>
  </div>
  <div class="bg-blue-600 py-5 flex justify-center items-center gap-5">
    <img
      src="/img/2.webp"
      alt="premium products"
      class="md:w-fit md:h-fit w-6 h-6"
    />
    <h3
      class="text-white sm:text-xl lg:text-2xl text-center uppercase font-bold tracking-wider"
    >
      premium products
    </h3>
  </div>
  <div class="bg-gray-300 py-5 flex justify-center items-center gap-5">
    <img
      src="/img/3.webp"
      alt="free and fast delivery"
      class="md:w-fit md:h-fit w-6 h-6"
    />
    <h3
      class="text-gray-900 sm:text-xl lg:text-2xl text-center uppercase font-bold tracking-wider"
    >
      free and fast delivery
    </h3>
  </div>
</div>

<section class="h-dvh"></section>
