<footer class="pt-10 mt-10 bg-sky-950">
    <div class="flex items-center justify-center w-full max-w-90% m-auto">
        <div class="mb-10 grid gap-5 place-content-center justify-center md:grid-cols-3">
            <div>
                <h3 class="text-white font-bold text-4xl font-arial mb-5">Our Mission</h4>
                <p class="text-gray-400 leading-loose">So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved us lan Gathering thing us land years living.</p>
            </div>
            <div>
                <h4 class="text-white font-bold text-2xl font-arial capitalize mb-5">quick links</h4>
                <ul class="text-gray-400 leading-10">
                    <li><a href="">Home</a></li>
                    <li><a href="">Shop</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">Product</a></li>
                    <li><a href="">Brand</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div>
                <h4 class="text-white font-bold text-2xl font-arial capitalize mb-5">Contact Us</h4>
                <div class="flex gap-5 mb-5">
                    <div class="bg-blue-800 text-white w-8 h-8 rounded-full flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5 -rotate-45">
                            <path d="M2.87 2.298a.75.75 0 0 0-.812 1.021L3.39 6.624a1 1 0 0 0 .928.626H8.25a.75.75 0 0 1 0 1.5H4.318a1 1 0 0 0-.927.626l-1.333 3.305a.75.75 0 0 0 .811 1.022 24.89 24.89 0 0 0 11.668-5.115.75.75 0 0 0 0-1.175A24.89 24.89 0 0 0 2.869 2.298Z" />
                        </svg>                          
                    </div>
                    <div>
                        <p class="text-white">Head Office</p>
                        <p class="text-gray-400">123, Main Street, Your City</p>
                    </div>
                </div>
                <div class="flex gap-5 mb-5">
                    <div class="bg-blue-800 text-white w-8 h-8 rounded-full flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5">
                            <path fill-rule="evenodd" d="m3.855 7.286 1.067-.534a1 1 0 0 0 .542-1.046l-.44-2.858A1 1 0 0 0 4.036 2H3a1 1 0 0 0-1 1v2c0 .709.082 1.4.238 2.062a9.012 9.012 0 0 0 6.7 6.7A9.024 9.024 0 0 0 11 14h2a1 1 0 0 0 1-1v-1.036a1 1 0 0 0-.848-.988l-2.858-.44a1 1 0 0 0-1.046.542l-.534 1.067a7.52 7.52 0 0 1-4.86-4.859Z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <div>
                        <p class="text-white">Phone Number</p>
                        <p class="text-gray-400">+123 456 7890</p>
                        <p class="text-gray-400">+123 456 7890</p>
                    </div>
                </div>
                <div class="flex gap-5">
                    <div class="bg-blue-800 text-white w-8 h-8 rounded-full flex items-center justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5">
                            <path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15 5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
                            <path d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
                        </svg>                          
                    </div>
                    <div>
                        <p class="text-white">Email</p>
                        <p class="text-gray-400">free@infoexample.com</p>
                        <p class="text-gray-400">www.infoexample.com</p>
                    </div>
                </div>
            </div>
          </div>
    </div>
  
  <div class="w-full bg-sky-900 p-10 flex items-center justify-center">
    <p class="text-white text-center">Copyright ©2024 All rights reserved | This template is made with &love; by Colorlib</p>
  </div>
</footer>
