body {
  background-color: rgb(229, 231, 235);
}

#navigationBody.p-fixed {
  animation: p-fixed-animation ease-in 700ms;
}

@keyframes p-fixed-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#bgImg.bgAnimation {
  animation: bg-animation ease-in 1s;
}

@keyframes bg-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

#scroller[data-animated="true"]:hover #scrollBarInner {
  animation-play-state: paused;
}

#scroller[data-animated="true"] #scrollBarInner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;
}

#scroller[data-direction="right"] {
  --animation-direction: reverse;
}

#scroller[data-speed="fast"] {
  --animation-duration: 10s;
}

#scroller[data-speed="slow"] {
  --animation-duration: 50s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

#wrapper {
  max-width: 1020px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  margin: 0 auto;
  margin-top: 20px;
}

#carousel {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 16px);
  gap: 20px;
  overflow: auto;
  scrollbar-width: 0;
}

#carousel::-webkit-scrollbar {
  display: none;
}

.__carouselNavigator {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 1200px) {
  #carousel {
    grid-auto-columns: calc((100% / 3) - 12px);
  }
}

@media only screen and (max-width: 900px) {
  #carousel {
    grid-auto-columns: calc((100% / 2) - 8px);
  }
}

@media only screen and (max-width: 600px) {
  #carousel {
    grid-auto-columns: 100%;
  }
}
