body {
  background-color: rgb(229, 231, 235);
}

#navigationBody.p-fixed {
  animation: p-fixed-animation ease-in 700ms;
}

@keyframes p-fixed-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#bgImg.bgAnimation {
  animation: bg-animation ease-in 1s;
}

@keyframes bg-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
